<div class="modal" id="editDriver">
  <form class="modal-content animate"action="/action_page.php" (ngSubmit)="onSubmitForm()" #editForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title w-100" >עריכת נהג</h4>
      <span (click)="cancel()" onclick="document.getElementById('editDriver').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label for="driverName"><b>שם נהג</b></label><br>
      <input type="text" name="driverName" [(ngModel)]="driver.NameOfUser" required>
      <br>
      <label for="driverId"><b>ת"ז נהג</b></label><br>
      <input name="driverId" [(ngModel)]="driver.UserId" required>
      <br>
      <label for="driverAddress"><b>כתובת נהג</b></label><br>
      <input  name="driverAddress" [(ngModel)]="driver.AddressOfUser" >
      <br>
      <label for="driverPhone"><b>מס' טלפון נהג</b></label><br>
      <input  name="driverPhone" [(ngModel)]="driver.PhoneOfUser" >
      <br><br>
      <button type="submit" > אישור</button>
      <br><br>
    </div>
  </form>
</div>