<div id="addTravel" >
    <form [formGroup]="form"(ngSubmit)="onSubmitForm(form.value)" align="center">
      <div>
        <h4>הוספת נסיעה</h4>
        <span onclick="document.getElementById('addTravel').style.display='none'" class="close"></span>
      </div>
      <div class="container">
        <!-- <label><b>שם קבוצה</b></label><br>
        <input type="text" placeholder="הכנס שם קבוצה" formControlName= "GroupName" required>
        <br> -->
        <label><b>הכנס שם קבוצה*</b></label><br>
        <mat-form-field style="text-align: right; direction: rtl;"required> 
          <mat-select placeholder="בחירה" formControlName= "GroupName" >
            <mat-option *ngFor="let g of groupNames" [value]="g">{{g}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <label><b>הכנס סוג נסיעה*</b></label><br>
        <mat-form-field style="text-align: right; direction: rtl;"required> 
          <mat-select placeholder="בחירה" formControlName= "CollectionOrDispersing" >
            <mat-option *ngFor="let c of colordis" [value]="c">{{c}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <label><b> כתובת מקור/יעד </b></label><br>
        <input type="text" placeholder="הכנס  כתובת מקור/יעד" formControlName= "DestinationOrSource" required>
        <br>
        <label><b>  שעת סיום מסלול</b></label><br>
        <input type="text" placeholder="הכנס שעת הגעה לסוף המסלול" formControlName= "Hour" required>
        <br>
        <br>
        <input type="file" accept=".xlsx" formControlName= "filePath" required>
        <br>
        <br>
        <label><b> תאריך התחלה</b></label><br>
        <input type="date" placeholder="הכנס תאריך התחלת הנסיעה" formControlName= "DateOfBegin" required>
        <br>
        <br>
        <label><b> תאריך סיום</b></label><br>
        <input type="date" placeholder="הכנס תאריך סיום הנסיעה" formControlName= "DateOfEnd" required>
        <br>
        <br>
        <button type="submit" onclick="document.getElementById('addTravel').style.display='none'">הוסף</button><br>
        <br>
      </div>
    </form>
  </div>

  <!-- בשביל העלאת קובץ אקסל -->
        <!-- <div class="row justify-content-end">
          <button class="col-md-3"  >
              <mat-icon svgIcon="excel" style=" vertical-align: top;" ></mat-icon>&nbsp;
              ייבוא נוסעים מאקסל</button>
      </div>   -->