<!-- Button to open the modal driver form -->
<button mat-fab onclick="document.getElementById('addCustomer').style.display='block'"><mat-icon matTooltip="הוספה">add</mat-icon></button>

<!-- The Modal -->
<div id="addCustomer" class="modal">
  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php" (ngSubmit)="onSubmitForm()" #customerForm="ngForm" align="center">
    <div class="modal-header">
      <h4 class="modal-title w-100" id="myModalLabel">הוספת לקוח</h4>
      <span onclick="document.getElementById('addCustomer').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label for="groupsName"><b>שם קבוצה</b></label><br>
      <input type="text" placeholder="הכנס שם קבוצה" name="groupsName" [(ngModel)]="newCustomer.Group_s_name" required>
      <br>
      <label for="conectedsName"><b> שם איש קשר </b></label><br>
      <input type="text" placeholder="הכנס  שם איש קשר" name="conectedsName" [(ngModel)]="newCustomer.Conected_name" required>
      <br>
      <label for="conectedsPhone"><b>  טלפון איש קשר</b></label><br>
      <input phone="true" type="text" placeholder="הכנס  טלפון איש קשר" name="conectedsPhone" [(ngModel)]="newCustomer.Conected_phone" required>
      <br><br>
      <button mat-stroked-button type="submit" onclick="document.getElementById('addCustomer').style.display='none'">הוסף</button><br>
      <br>
    </div>
  </form>
</div>
