<!-- Button to open the modal driver form -->
<button mat-fab onclick="document.getElementById('addDriver').style.display='block'"><mat-icon matTooltip="הוספה">add</mat-icon></button>‏

<!-- The Modal -->
<div id="addDriver" class="modal">
  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php" (ngSubmit)="onSubmitForm()" #driverForm="ngForm" align="center">
    <div class="modal-header">
      <h4 class="modal-title w-100" id="myModalLabel">הוספת נהג</h4>
      <span onclick="document.getElementById('addDriver').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label for="uname"><b> שם משתמש  </b></label><br>
      <input type="text" placeholder="הכנס שם משתמש" name="uname" [(ngModel)]="newDriver.NameOfUser" required>
      <br>
      <label for="psw"><b>סיסמה</b></label><br>
      <input type="password" placeholder="הכנס סיסמה" name="psw" [(ngModel)]="newDriver.UserId" required>
      <br>
      <label for="uaddress"><b>כתובת</b></label><br>
      <input placeholder="הכנס כתובת" name="uaddress" [(ngModel)]="newDriver.AddressOfUser">
      <br>
      <label for="uphone"><b>פלאפון</b></label><br>
      <input placeholder="הכנס מספר פלאפון" name="uphone" [(ngModel)]="newDriver.PhoneOfUser" required>
      <br><br>
      <button type="submit" onclick="document.getElementById('addDriver').style.display='none'">הוסף</button>
      <br><br>
    </div>
  </form>
</div>