<!-- <a onclick="document.getElementById('deleteCustomer').style.display='block'">מחיקה</a> -->
<div class="modal" id="deleteCustomer" align="center">
  <form class="modal-content animate"action="/action_page.php" (ngSubmit)="onSubmitForm()">
    <div class="modal-header">
      <h4 class="modal-title w-100" id="myModalLabel">מחיקת לקוח</h4>
      <span (click)="cancel()" onclick="document.getElementById('deleteCustomer').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div>האם אתה בטוח רוצה למחוק את הלקוח לצמיתות?</div>
    <div class="container">
      <label for="conectedName"><b>  שם איש קשר  </b></label><br>
      {{customer.Conected_name}}
      <br>
      <label for="conectedPhone"><b>טלפון איש קשר</b></label><br>
      {{customer.Conected_phone}}
      <br>
      <label for="group_s_name"><b>שם קבוצה</b></label><br>
      {{customer.Group_s_name}}
      <br><br>
      <button (click)="onSubmitForm()" type="submit">אישור</button>
      <br><br>
    </div>
  </form>
</div>



