<body  dir="rtl">
    <ul  class="container list-group list-group-flush">
      <li   class="row mb-3    border border-secondary border-right-0 border-left-0" > 
        <span  class=" offset-2 "></span>
        <span  class="  col-1 offset-1  mt-3 mb-3" align = "center" >{{vehicle.Description}}</span>
        <span  class=" col-1 offset-1  mt-3 mb-3" >{{vehicle.Count}}</span>
        <span style="text-align: center;" class="col-6 mt-3 mb-3">
          <!-- ??? -->
          <a class="text" routerLink="/vehicles"  (click)="updateVehicle()"><mat-icon matTooltip="עריכה">edit</mat-icon></a> 
          <span > | </span>
          <a class="text"  routerLink="/vehicles" (click)="deleteVehicle()" ><mat-icon matTooltip="מחיקה">delete</mat-icon></a>
          <!-- <span > | </span>
          <a class="text"  routerLink="/vehicles" (click)="detialVehicle()" >פרטים</a> -->
        </span>
        </li>
    </ul>
    </body>