<div class="modal" id="editVehicle" align="center">
    <form class="modal-content animate"action="/action_page.php" (ngSubmit)="onSubmitForm()" #editForm="ngForm">
      <div class="modal-header">
          <h4 class="modal-title w-100" >עריכת רכב</h4>
          <span (click)="cancel()"  onclick="document.getElementById('editVehicle').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
      <div class="container">
        
        <label for="Description"><b>סוג רכב</b></label><br>
        <input  name="Description" [(ngModel)]="vehicle.Description" >
        <br>
        <label for="Count"><b>  מספר מקומות</b></label><br>
        <input   name="Count" [(ngModel)]="vehicle.Count" required>
        <br><br>
        <button type="submit" > אישור</button><br><br>
      </div>
    
    </form>
</div>
    