<br><br>

<ul  class="container list-group list-group-flush">
  <!-- style="background-color: gray;" -->
    <li  *ngFor="let item of tracks;let i = index" class="container-fluid row mb-3    border border-secondary border-right-0 border-left-0" > 
     <!-- <span  class="col-2 offset-1  mt-3 mb-3"> שם נהג: {{item.DriverId}}</span>
     <span  class="col-2   mt-3 mb-3">מספר רכב: {{item.LicensePlate}}</span>
     <span  class="col-2 offset-1  mt-3 mb-3">תאריך נסיעה: {{item.DateOfTravel|date:'dd/MM/yyyy'}}</span>
     <span  class="col-2 offset-1 mt-3 mb-3">שעת נסיעה: {{item.HourOfBegin}}</span> -->
     <span class="col-3    mt-3 mb-3d-flex">נסיעה {{i+1}} </span>
     <!-- <span></span> -->
      <!-- <a class="  mt-3 mb-3" routerLink="/tracks" (click)="view(item.TrackCode)" ><mat-icon matTooltip="נוסעים">drive_eta</mat-icon></a> -->
        <button  class="col-4 offset-1   mt-3 mb-3 "(click)="viewPassengers(item.TrackCode)"> רשימת נוסעים</button>
        <button  class="col-4   mt-3 mb-3" (click)="viewMap(item.TrackCode)">הצג מפה</button>
           </li>
  </ul>
