<!-- <p>{{drive.name}} {{drive.password}}</p> -->

<!-- <table class="table">
  <tr>
    <th>  
<button  type="button" class="btn btn-success btn-lg btn-block">{{drive.name}}</button>
</th>
</tr>
</table> -->

<body >
    <div class="container body-content">
<table class="table">
    <tbody>
    <tr>
        <td>
            {{driver.name_of_user}}
        </td>
        <td>
            <a href="/ToDoes/Edit/1">Edit</a> |
            <a href="/ToDoes/Details/1">Details</a> |
            <a href="/ToDoes/Delete/1">Delete</a>
        </td>
    </tr>
</tbody></table>
        <hr>
    </div>
    <!-- <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script> -->
</body>