<div class="modal" id="editDriver">
<form class="modal-content animate"action="/action_page.php" (ngSubmit)="onSubmitForm()" #editForm="ngForm">
  <span onclick="document.getElementById('editDriver').style.display='none'" 
  class="close" title="Close Modal">&times;</span>
  <h1>עריכת נהג</h1>

<!-- <button type="button" (click)="cancel()" onclick="document.getElementById('editDriver').style.display='none'" class="cancelbtn">Cancel</button> -->
<div class="container">
<label for="driverName"><b>  שם נהג  </b></label><br>
<input type="text" name="driverName" [(ngModel)]="driver.NameOfUser" required>
<br>
<label for="driverId"><b>  ת"ז נהג  </b></label><br>
<input   name="driverId" [(ngModel)]="driver.UsersId" required>
<br>
<label for="driverAddress"><b>כתובת נהג</b></label><br>
<input  name="driverAddress" [(ngModel)]="driver.AddressOfUser" >
<br>
<label for="driverPhone"><b>מס' טלפון נהג</b></label><br>
<input  name="driverPhone" [(ngModel)]="driver.PhoneOfUser" >
</div>
<br>
<button type="submit" > אישור</button>
</form>
</div>