<!--The content below is only a placeholder and can be replaced.-->

<form >
  
  <ul class="nav justify-content-fill fixed-top" >
   
      <img width="250"  alt="Angular Logo" src="../assets/images/logo.png">
      <li class="nav-item">
        <br>
        <a class="nav-link" [routerLink]="['/customers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">לקוחות</a>
      </li>
      <li class="nav-item">
        <br>
          <a class="nav-link"  [routerLink]="['/drivers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">נהגים</a>
        </li>
      <li class="nav-item">
        <br>
          <a  class="nav-link" [routerLink]="['/vehicles']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">רכבים</a>
        </li>
        <li class="nav-item">
          <br>
            <a class="nav-link" [routerLink]="['/travel/-']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">נסיעות</a>
          </li>
        <li class="nav-item"></li>
        <div class="dropdown" dir="ltr">
         <br>
          <!--Trigger-->
          <button class="btn" type="button" id="dropdownMenu1" data-toggle="dropdown" (click)="showDropdown=!showDropdown"
            aria-haspopup="true" aria-expanded="false"><mat-icon>menu</mat-icon></button>
        
        
          <!--Menu-->
          <span class="dropdown-menu dropdown-primary" [ngClass]="{'show': showDropdown}" (mousein)="showDropdown = false">
            <a class="dropdown-item" href="/customers">לקוחות</a>
            <a class="dropdown-item" href="/drivers">נהגים</a>
            <a class="dropdown-item" href="/vehicles">רכבים</a>
            <a class="dropdown-item" href="/travel">נסיעות</a>
          </span>
        </div>‏
    </ul>
    <br>
     <br><br><br>
    <router-outlet ></router-outlet>
    <br><br>
    <footer  class="fixed-bottom"><mat-icon>copyright</mat-icon> Rachel Hacker <span style="color: #ffc107;">&</span> Yehudit Lanel</footer>
</form>


<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="direction: rtl;"> 
    <img width="250"  alt="Angular Logo" src="../assets/images/logo.png">
    <div class="collapse navbar-collapse">
        
        <ul class="navbar-nav mr-auto">
           
            <li class="nav-item">
                <br>
                <a class="nav-link" [routerLink]="['/customers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">לקוחות</a>
              </li>
              <li class="nav-item">
                  <br>
                    <a class="nav-link"  [routerLink]="['/drivers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">נהגים</a>
                  </li>
                  <li class="nav-item">
                      <br>
                        <a  class="nav-link" [routerLink]="['/vehicles']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">רכבים</a>
                      </li>
                      <li class="nav-item">
                          <br>
                            <a class="nav-link" [routerLink]="['/travel']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">נסיעות</a>
                          </li>
        </ul> 
    </div> 
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span> 
    </button> 
</nav> -->
