.active{
    color: #ffc107
}
form{
    text-align:center;
    direction: rtl;
}
li{
    font-size: 25px;
}
a{
    color: black;
}
ul{
    background-color: gray;
}
footer{
    text-align: left;
    background-color: gray;
    direction: ltr;
}