<!--The content below is only a placeholder and can be replaced.-->

<form >
  
  <ul class="nav justify-content-fill fixed-top" >
    <li class="nav-item">
      <img width="250"  alt="Angular Logo" src="../assets/images/logo.png"></li>
      <li class="nav-item">
        <br>
        <a class="nav-link" [routerLink]="['/customers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">לקוחות</a>
      </li>
      <li class="nav-item">
        <br>
          <a class="nav-link"  [routerLink]="['/drivers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">נהגים</a>
        </li>
      <li class="nav-item">
        <br>
          <a  class="nav-link" [routerLink]="['/vehicles']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">רכבים</a>
        </li>
        <li class="nav-item">
          <br>
            <a class="nav-link" [routerLink]="['/travel']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">נסיעות</a>
          </li>
        <li class="nav-item"></li>
    </ul>
    <br><br><br><br><br>
    <router-outlet ></router-outlet>
    <br><br><br>
    <footer  class="fixed-bottom"><i class="fa fa-copyright"></i> Rachel Hacker <span style="color: #ffc107;">&</span> Yehudit Lanel</footer>
</form>


<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="direction: rtl;"> 
    <img width="250"  alt="Angular Logo" src="../assets/images/logo.png">
    <div class="collapse navbar-collapse">
        
        <ul class="navbar-nav mr-auto">
           
            <li class="nav-item">
                <br>
                <a class="nav-link" [routerLink]="['/customers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">לקוחות</a>
              </li>
              <li class="nav-item">
                  <br>
                    <a class="nav-link"  [routerLink]="['/drivers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">נהגים</a>
                  </li>
                  <li class="nav-item">
                      <br>
                        <a  class="nav-link" [routerLink]="['/vehicles']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">רכבים</a>
                      </li>
                      <li class="nav-item">
                          <br>
                            <a class="nav-link" [routerLink]="['/travel']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">נסיעות</a>
                          </li>
        </ul> 
    </div> 
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span> 
    </button> 
</nav> -->
