.active{
    color: #ffc107
}
form{
    text-align:center;
    direction: rtl;
}
li{
    font-size: 25px;
}
.login{
    width: 110px;
    height: 35px;
    margin-right: 445px;
    margin-top: 27px;
    font-size: 17px;
}
a{
    color: black;
}
ul{
    background-color: gray;
}
footer{
    text-align: left;
    background-color: gray;
    direction: ltr;
}
div {
    display: none;
  }
  @media (max-width: 600px) {
    li     { display: none; }
    div { display: inline-block; }
  }