<form (ngSubmit)="onSubmitForm()" #loginForm="ngForm" class="text-center  from-horizontal">
    <label>
      שם משתמש
      <br>
      <input class="form-group" name="userName" required [(ngModel)]="myUser.name_of_user" >
    </label>
    <br>
    <label>
      סיסמה
      <br>
      <input type="password" [(ngModel)]="myUser.users_id" name="password" #pass="ngModel">
    </label>
    <br>
  <button type="submit" [disabled]="loginForm.invalid">כניסה</button>
</form>
<div class="alert alert-danger text-center" *ngIf="isShowErrText">{{errText}}</div>