<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Search" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
<app-list-customers  *ngFor="let item of customers;let i=index" [customer]="item"></app-list-customers>
<body>
<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" (click)="showDropdown=!showDropdown" >Simple collapsible</button>
  <div id="demo" class="collapse" [ngClass]="{'show': showDropdown}" (mousein)="showDropdown = false">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</body>

<app-add-customer (addCustomer)="onCustomerAdded($event)"></app-add-customer>