<br>
<body class="mydir ml-5 mr-5 " dir="rtl">
  <div class="row">
    <div class="main">
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"><mat-icon>search</mat-icon></span>
      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="חיפוש">
    </div>
  </div>
  <span class="col-2" > <app-add-customer (addCustomer)="onCustomerAdded($event)"></app-add-customer></span>
</div>
  <br>
  <mat-spinner style="margin:0 auto;" *ngIf="isLoadingResults" diameter="42"></mat-spinner>
  <app-list-customers *ngFor="let item of customers" [customer]="item"></app-list-customers>
</body>‏