table {
    width: 95%;
    margin: 0 auto;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  th{
    text-align: left;
  }
  td{
    text-align: center !important;
  }
  .mat-fab{
    background-color: #FFC107;
    outline: none;
    align-items: left !important;
  }
tr.example-element-row.example-expanded-row {
  font-weight: bold;
  /* font-style: italic; */
  background: rgb(245, 245, 255);
  }
  /* .example-element-row.example-expanded-row td {
    color:rgb(29, 14, 95);} */