<!-- <body >
  <div class="container body-content">
<table class="table">
  <tbody>
  <tr>
      <td>
          {{driver.nameOfUser}}
      </td>
      
      <td>

          <a routerLink="/drivers"  (click)="updateDriver()">עריכה</a> |
          <a href="/ToDoes/Details/1">פרטים</a> |
          <a href="/ToDoes/Delete/1">מחיקה</a>
      </td>
  </tr>
</tbody></table>
      <hr>
  </div>
</body> -->

<body  dir="rtl">
  <ul  class="container list-group list-group-flush">
    <li   class="row mb-3    border border-right-0 border-left-0" > 
      <span  class="col-3 offset-1  mt-3 mb-3" >{{driver.nameOfUser}}</span>
      <span style="text-align: center;" class="col-8 mt-3 mb-3">
        <a  routerLink="/drivers"  (click)="updateDriver()">עריכה</a> 
        <!-- <app-edit-customer></app-edit-customer> -->
        <span > | </span>
        <a  routerLink="/drivers" (click)="deleteDriver()" >מחיקה</a>
      </span>
      </li>
  </ul>
</body>