<p>delete-vehicle works!</p>
<div class="modal" id="deleteVehicle" align="center">
  <form class="modal-content animate"action="/action_page.php"(ngSubmit)="onSubmitForm()">
    <div class="modal-header">
      <h4 class="modal-title w-100" id="myModalLabel">מחיקת רכב</h4>
      <span (click)="cancel()" onclick="document.getElementById('deleteVehicle').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div>האם אתה בטוח רוצה למחוק את הרכב לצמיתות?</div>
    <div class="container">
      <label for="Description"><b>סוג רכב</b></label><br>
      {{vehicle.Description}}
      <br>
      <label for="Count"><b>  מספר מקומות  </b></label><br>
      {{vehicle.Count}}
      <br>
      <button  (click)="onSubmitForm()" type="submit" > אישור</button> 
      <br><br>   
    </div>
  </form>
</div>
    
