<!-- <p>
  the drivers works!--for maneger
</p> -->
<!-- <input placeholder="search" [(ngModel)]="searchText">
<li *ngFor="let j of getAllDriver()|filter:searchText">
  <span> {{j}}</span>
</li>
<br><br>
<button class="btn-primary" [routerLink]="['/drivers']">הוספת לקוח חדש</button>
<br><br> -->
<input placeholder="search" [(ngModel)]="searchText"class="form-control container body-content">
<br>

<!-- <app-drivers-list *ngFor="let item of drives" [drive]="item"></app-drivers-list> -->
<app-drivers-list *ngFor="let item of drivers" [driver]="item"></app-drivers-list>
<app-drivers-list *ngFor="let item of drivermekomi" [driver]="item"></app-drivers-list>
<app-driver-form (addDrive)="onDriveAdded($event)"></app-driver-form>