<!-- Button to open the modal driver form -->

<button mat-fab onclick="document.getElementById('addVehicle').style.display='block'"><mat-icon matTooltip="הוספה">add</mat-icon></button>

<!-- The Modal -->
<div id="addVehicle" class="modal">
  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php" (ngSubmit)="onSubmitForm()" #customerForm="ngForm" align="center">
    <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">הוספת רכב</h4>
        <span onclick="document.getElementById('addVehicle').style.display='none'"class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label for="Description"><b>סוג רכב</b></label><br>
      <input type="text" placeholder="הכנס סוג רכב " name="Description" [(ngModel)]="newVehicle.Description" required>
      <br>
      <label for="Count"><b> מספר מקומות </b></label><br>
      <input type="text" placeholder="הכנס  מספר מקומות" name="Count" [(ngModel)]="newVehicle.Count" required>
      <br>
      <br>
      <button type="submit" onclick="document.getElementById('addVehicle').style.display='none'">הוסף</button>
      <br><br>
    </div>
  </form>
</div>
