<!-- <p>
  edit-customer works!
</p>  -->
<div class="modal" id="editCustomer">
  <form class="modal-content animate"action="/action_page.php" (ngSubmit)="onSubmitForm()" #editForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title w-100" >עריכת לקוח</h4>
      <span (click)="cancel()" onclick="document.getElementById('editCustomer').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label for="conectedName"><b>שם איש קשר</b></label><br>
      <input type="text" name="conectedName" [(ngModel)]="customer.Conected_name" required>
      <br>
      <label for="conectedPhone"><b>טלפון איש קשר</b></label><br>
      <input  name="conectedPhone" [(ngModel)]="customer.Conected_phone" >
      <br>
      <label for="group_s_name"><b>שם קבוצה</b></label><br>
      <input  name="group_s_name" [(ngModel)]="customer.Group_s_name" >
      <br><br>
      <button type="submit" > אישור</button>
      <br><br>
    </div>
  </form>
</div>